.payment-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 80vh;        /* Ensure full viewport height */
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 20px 0px;
  }
  
  .expiry-cvv {
    display: flex;
    gap: 16px; /* Adjust spacing as needed */
    flex-wrap: wrap;
  }
  
  .button-group {
    display: flex;
    justify-content: center; /* Center the button */
    margin-top: 16px;
  }
  
  .spinner {
    display: inline-block;
    margin-right: 8px; /* Space between spinner and text */
  }
  
  .mat-mdc-extended-fab {
    border: 2px solid rgb(250, 122, 144);
    color:rgb(250, 122, 144);
    background-color: white;
  }
  
  .mat-mdc-extended-fab:hover {
    color:white ;
    background-color: rgb(250, 122, 144);
  }

  .flex {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-h2 {
    margin: 10px;
    color: #00a500;
    font-size: 20px;
    margin-left: 0px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 0px 10px 0px 10px;
  }

  .wallet-icon {
    color: rgb(223, 86, 86);
  }

  .payandgive {
    display: flex;
    align-items: center;
    justify-content: center;
  }